.button {
  border-style: none;
  background-color: $basic-green;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;

  &:hover {
    background-color: $green-hover;
  }

  &:active {
    color: rgba(255, 253, 253, 0.3);
  }
}
