.catalogue {
  @include wrapper;
}

.catalogue__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
}

.catalogue__image-link {
  grid-column: 1 / 2;
  grid-row: 1 /3;
}

.catalogue__item-name {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: $base-font-size;
  color: $basic-dark-grey;
}

.catalogue__table {
  grid-column: 2 / 3;
  grid-row: 2 /3;

  &--additional {
    grid-column: 1 / -1;
  }
}

.catalogue__table-row {
  color: $basic-dark-grey;
  font-family: $font-arial;
  font-weight: $base-font-size;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}

.catalogue__cell-header {
  font-weight: normal;
  text-align: left;
}

.catalogue__more-name {
  color: $special-black;
  text-transform: uppercase;
  font-weight: normal;
}

.special-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}

.catalogue__additional {
  @include wrapper;
}
