.catalogue__item-name {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: $base-font-size;
  color: $basic-dark-grey;
}

.catalogue__table-row {
  color: $basic-dark-grey;
  font-family: $font-arial;
  font-weight: $base-font-size;
  font-size: 12px;
  line-height: 16px;
}

.catalogue__cell-header {
  font-weight: normal;
}

.catalogue__more-name {
  color: $special-black;
  text-transform: uppercase;
  font-weight: normal;
}

.special-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}
