.contacts {
  font-style: normal;

  @include wrapper;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contacts__collaboration-slogan {
  text-transform: uppercase;
}

.contacts__address {
  font-family: $font-arial;
  line-height: 20px;
  color: $special-dark-grey;
}
