.contacts {
  font-style: normal;
}

.contacts__collaboration-slogan {
  text-transform: uppercase;
}

.contacts__address {
  font-family: $font-arial;
  line-height: 20px;
  color: $special-dark-grey;
}
