
.contacts {
  font-style: normal;

  @include wrapper;

  &--catalogue-bg {
    background-color: $basic-grey;
  }

  @media (min-width: $desktop) {
    background-color: $basic-white;
  }
}

.catalogue_additional-gift {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    margin-bottom: 50px;
  }
}

.contacts__wrapper {

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $desktop) {
    width: 300px;
    position: absolute;
    z-index: 1;
    background-color: white;
    margin-top: 55px;
  }
}

.contacts__collaboration-slogan {
  text-transform: uppercase;
}

.contacts__address {
  font-family: $font-arial;
  line-height: 20px;
  color: $special-dark-grey;
}
