.example {
  background-color: $grey-bg-2;

  @media (min-width: $tablet) {
    background: none;
  }
}

.example__wrapper {
  @include wrapper;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.example__description-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: $base-font-size;
}

.example__description-story {
  font-family: $font-arial;
  color: $special-dark-grey;
}

.example__numbers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr) 2fr;
  }

  @media (min-width: $desktop) {
    grid-column: 1 /2;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, 1fr);
  }
}

.example__numbers-name {
  font-family: $font-arial;
  font-size: 12px;
  color: $special-dark-grey;
}

.example__numbers-result {
  font-size: 24px;
  text-transform: uppercase;
}

.example__numbers-expenses {
  text-transform: uppercase;
  text-align: center;
  grid-column: 1 / -1;

  @media (min-width: $tablet) {
    grid-column: 3 / -1;
    justify-self: end;
    padding-left: 225px;
    text-align: right;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
    text-align: right;
    grid-column: 1 / span 1;
  }
}

.example__visual {
  width: 311px;
  margin-left: auto;
  margin-right: auto;
}
