.footer {
  background-color: $basic-grey;
}

.footer__wrapper {
  display: grid;

  @include wrapper;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__social-list {
  list-style: none;
  border-top: $grey-bg-1 solid 1pt;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}

.footer__copyright {
  border-top: $grey-bg-1 solid 1pt;
}

.footer__copyright-name {
  color: $special-dark-grey;
  font-family: $font-arial;
  font-weight: $base-font-size;

  &:active {
    opacity: 0.3;
  }
}

.footer__logo {
  text-align: center;
  padding-top: 25px;
}
