.form__subtitle {
  text-transform: uppercase;
}

.form__fieldset {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  padding: 0;
}

.form__legend {
  border: none;
}
