.header {
  padding-top: 20px;
  border-bottom: $grey-border;
  display: grid;
}

.header__logo-image {
  width: 34px;
  height: 38px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet) {
    height: 50px;
  }
}

.header__logo-name {
  width: 101px;
  height: 18px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
