.intro {
  color: $basic-white;
  background-color: $basic-green;
  background-image: url("../img/intro/cat-background.jpg");
  background-repeat: no-repeat;
  height: auto;
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: $base-font-size;
}

.intro__slogan {
  display: block;
  text-transform: uppercase;
  line-height: 14px;
  margin: 0;
  margin-top: 25px;
}
