.intro__wrapper {
  @include wrapper;
}

.intro {
  min-height: 302px;
  color: $basic-white;
  text-align: center;
  background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85), 302px, $basic-white 302px),
    url("../img/intro/cat-background.jpg") no-repeat,
    linear-gradient(to right, #4f4e53, #444448);
  background-position: top center;
  background-color: $basic-green;
  padding-top: 23px;
  position: relative;
  padding-bottom: 117px;


  &::after {
    content: "";
    display: block;
    position: absolute;
    background: url("../img/intro/intro-can.png") no-repeat;
    background-position: center;
    height: 270px;
    width: 280px;
    top: 170px;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%);
  }


  @media (min-width: $tablet) {
    background: none;

    &::after {
      background-position: left;
    }
  }
}


.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: $base-font-size;
  margin: 0;

  @media (min-width: $tablet) {
    color: $basic-black;
    text-align: left;
    font-size: 60px;
    line-height: 1em;
    padding-left: 34px;
  }

  @media (min-width: $desktop) {
    &--catalogue {
      grid-column: 1/-1;
    }
  }
}

.intro__slogan {
  display: block;
  text-transform: uppercase;
  line-height: 14px;
  margin: 0;
  padding-top: 34px;

  @media (min-width: $tablet) {
    color: $basic-black;
    text-align: left;
    padding-left: 35px;
    padding-bottom: 50px;
  }
}

.intro__button-wrapper {
  @include wrapper;
}
