.intro__wrapper {
  @include wrapper;
}

.intro {
  color: $basic-white;
  text-align: center;
  background: url("../img/intro/intro-can.png") 50% 175px no-repeat,
    url("../img/intro/cat-background.jpg") 50% 50%/cover no-repeat;
  min-height: 302px;
}


.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: $base-font-size;
  margin: 0;
  padding: 25px;
}

.intro__slogan {
  display: block;
  text-transform: uppercase;
  line-height: 14px;
  margin: 0;
}

