
.nav {
  padding: 0;
  margin: 0;
}

.nav__list {
  list-style: none;
  text-transform: uppercase;
  color: $basic-black;
  margin: 0;
  padding: 0;
}

.nav__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  border-top: 1px solid $grey-border;
  text-align: center;
  display: block;
  padding: 24px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.2;
  }
}

.nav__toggle {
  width: 24px;
  height: 24px;
  background: url("../img/header/sandwich-menu.svg") 50% 50% no-repeat;
  border: none;

  // &--active {
  //   background: url("../img/header/close-menu.svg") 50% 50% no-repeat;
  // }
}
