
.nav {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet) {
    display: grid;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-column: 2 / 3;
  }
}

.nav__list {
  list-style: none;
  text-transform: uppercase;
  color: $basic-black;
  margin: 0;
  padding: 0;
  padding-top: 10px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.nav__item {
  font-weight: 500;
  font-size: 20px;

  @media (min-width: $tablet) {
    font-weight: 400;
    font-size: 18px;

    &--current {
      border-bottom: 3px $basic-green solid;
    }
  }
}

.nav__link {
  text-decoration: none;
  color: inherit;
  border-top: 1px solid $grey-border;
  text-align: center;
  display: block;
  padding: 24px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.2;
  }


  @media (min-width: $tablet) {
    padding: 10px;
  }

  @media (min-width: $desktop) {
    padding: 15px;
  }
}
