.steps__wrapper {
  @include wrapper;
}

.steps__header {
  font-size: 36px;
  line-height: 40px;
  font-weight: $base-font-size;
}

.steps__list {
  font-family: $font-arial;
  color: $special-dark-grey;
  list-style: none;
}
