@mixin wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    width: 1440px;
    padding: 0 50px;
  }
}
