

$basic-white: #ffffff;
$basic-black: #000000;
$special-black: #111111;
$special-dark-grey: #444444;
$special-light-grey: #ebebeb;

$basic-dark-grey: #444444;
$basic-grey: #f2f2f2; //background footer
$grey-bg-1: #d9d9d9; //background main Похудение
$grey-bg-2: #eaeaea; //живой пример background


$input-text: #e7e7e7;
$input-text-hover: #cdcdcd;
$input-text-focus: #444444;
$basic-green: #68b738;
$green-hover: #5eaa2f;
$error: #ff8282;

$grey-border: #e6e6e6;

//fonts

$font-oswald: "Oswald", "Arial", sans-serif;
$base-font-size: 400;
$medium-font-size: 500;
$font-arial: "Arial", sans-serif;

$tablet: 768px;
$desktop: 1440px;
$mobile-max: 767px;
