
//Global
@import "global/fonts.scss";
@import "global/global.scss";
@import "global/variables.scss";


//Blocks
@import "blocks/header.scss";
@import "blocks/page.scss";
@import "blocks/navigation.scss";
@import "blocks/main.scss";

